# Pre Data Challenge Tutorial

#### A Beginner's Guide to Analyzing Data in Python

###### This tutorial demonstrates the differences between series and data frames, how to clean data in data frames, and how to make basic visualizations in PyCharm.

In [2]:
import pandas as pd

#### Making a Series

In [3]:
bananas = pd.Series([0, 3, 4, 6, 7])
bananas.name = "Bananas"

bananas

0    0
1    3
2    4
3    6
4    7
Name: Bananas, dtype: int64

#### Making a Data Frame

In [4]:
df_data = {
    "apples": [3, 2, 0, 1],
    "oranges": [2, 4, 1, 0]
}

purchases = pd.DataFrame(df_data)

purchases

   apples  oranges
0       3        2
1       2        4
2       0        1
3       1        0

#### Re-Indexing a Data Frame

In [5]:
purchases = pd.DataFrame(df_data, index=['June', 'Robert', 'Lily', 'David'])

purchases

        apples  oranges
June         3        2
Robert       2        4
Lily         0        1
David        1        0

#### Using loc to Grab a Row by Index

In [6]:
purchases.loc['June']

apples     3
oranges    2
Name: June, dtype: int64

#### Importing a Csv File into a Data Frame

###### index_col=0 indicates that the first column of the dataset should be the indexing column instead of the non-meaningful default 1-length system

In [7]:
cereal_index = pd.read_csv("cereal.csv", index_col=0)
cereal_index.head(10)

,Calories,Protein,Fat,Sodium,Fiber,Carbs,Sugars,Potassium,Vitamins,Weight,Cups per Serving,Rating
100% Bran,70,4,1,130,10.0,5.0,6,280,25,1.00,0.33,68.402973
100% Natural Bran,120,3,5,15,2.0,8.0,8,135,0,1.00,1.00,33.983679
All-Bran,70,4,1,260,9.0,7.0,5,320,25,1.00,0.33,59.425505
All-Bran with Extra Fiber,50,4,0,140,14.0,8.0,0,330,25,1.00,0.50,93.704912
Almond Delight,110,2,2,200,1.0,14.0,8,-1,25,1.00,0.75,34.384843
Apple Cinnamon Cheerios,110,2,2,180,1.5,10.5,10,70,25,1.00,0.75,NaN
Apple Jacks,110,2,0,125,1.0,11.0,14,30,25,1.00,1.00,33.174094
Basic 4,130,3,2,210,2.0,18.0,8,100,25,1.33,0.75,37.038562
Bran Chex,90,2,1,200,4.0,15.0,6,125,25,1.00,0.67,49.120253
Bran Flakes,90,3,0,210,5.0,13.0,5,190,25,1.00,0.67,53.313813

In [8]:
cereal_index.tail(5)

,Calories,Protein,Fat,Sodium,Fiber,Carbs,Sugars,Potassium,Vitamins,Weight,Cups per Serving,Rating
Triples,110,2,1,250,0.0,21.0,3,60,25,1.0,0.75,39.106174
Trix,110,1,1,140,0.0,13.0,12,25,25,1.0,1.00,NaN
Wheat Chex,100,3,1,230,3.0,17.0,3,115,25,1.0,0.67,49.787445
Wheaties,100,3,1,200,3.0,17.0,3,110,25,1.0,1.00,51.592193
Wheaties Honey Gold,110,2,1,200,1.0,16.0,8,60,25,1.0,0.75,36.187559

In [9]:
cereal = pd.read_csv("cereal.csv")
cereal.columns.values[0] = 'Name'
cereal

,Name,Calories,Protein,Fat,Sodium,Fiber,Carbs,Sugars,Potassium,Vitamins,Weight,Cups per Serving,Rating
0,100% Bran,70,4,1,130,10.0,5.0,6,280,25,1.0,0.33,68.402973
1,100% Natural Bran,120,3,5,15,2.0,8.0,8,135,0,1.0,1.00,33.983679
2,All-Bran,70,4,1,260,9.0,7.0,5,320,25,1.0,0.33,59.425505
3,All-Bran with Extra Fiber,50,4,0,140,14.0,8.0,0,330,25,1.0,0.50,93.704912
4,Almond Delight,110,2,2,200,1.0,14.0,8,-1,25,1.0,0.75,34.384843
...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,Triples,110,2,1,250,0.0,21.0,3,60,25,1.0,0.75,39.106174
73,Trix,110,1,1,140,0.0,13.0,12,25,25,1.0,1.00,NaN
74,Wheat Chex,100,3,1,230,3.0,17.0,3,115,25,1.0,0.67,49.787445
75,Wheaties,100,3,1,200,3.0,17.0,3,110,25,1.0,1.00,51.592193
76,Wheaties Honey Gold,110,2,1,200,1.0,16.0,8,60,25,1.0,0.75,36.187559

#### Info, Describe, and Shape

In [10]:
cereal.info()

cereal.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 13 columns):
Name                77 non-null object
Calories            77 non-null int64
Protein             77 non-null int64
Fat                 77 non-null int64
Sodium              77 non-null int64
Fiber               77 non-null float64
Carbs               77 non-null float64
Sugars              77 non-null int64
Potassium           77 non-null int64
Vitamins            77 non-null int64
Weight              77 non-null float64
Cups per Serving    77 non-null float64
Rating              71 non-null float64
dtypes: float64(5), int64(7), object(1)
memory usage: 7.9+ KB

,Calories,Protein,Fat,Sodium,Fiber,Carbs,Sugars,Potassium,Vitamins,Weight,Cups per Serving,Rating
count,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,71.000000
mean,106.883117,2.545455,1.012987,159.675325,2.151948,14.597403,6.922078,96.077922,28.246753,1.029610,0.821039,43.124629
std,19.484119,1.094790,1.006473,83.832295,2.383364,4.278956,4.444885,71.286813,22.342523,0.150477,0.232716,14.340450
min,50.000000,1.000000,0.000000,0.000000,0.000000,-1.000000,-1.000000,-1.000000,0.000000,0.500000,0.250000,18.042851
25%,100.000000,2.000000,0.000000,130.000000,1.000000,12.000000,3.000000,40.000000,25.000000,1.000000,0.670000,33.578886
50%,110.000000,3.000000,1.000000,180.000000,2.000000,14.000000,7.000000,90.000000,25.000000,1.000000,0.750000,40.560159
75%,110.000000,3.000000,2.000000,210.000000,3.000000,17.000000,11.000000,120.000000,25.000000,1.000000,1.000000,51.210293
max,160.000000,6.000000,5.000000,320.000000,14.000000,23.000000,15.000000,330.000000,100.000000,1.500000,1.500000,93.704912

In [11]:
cereal.shape

(77, 13)

In [12]:
cereal.columns

Index(['Name', 'Calories', 'Protein', 'Fat', 'Sodium', 'Fiber', 'Carbs',
       'Sugars', 'Potassium', 'Vitamins', 'Weight', 'Cups per Serving',
       'Rating'],
      dtype='object')

In [13]:
# case sensitive, so printing columns before is helpful to see what you need to change
cereal.rename(columns={
        'Calories': 'Cals', 
        'Cups per Serving': 'Cups',
        'Potassium': 'K'
    }, inplace=True)


cereal.columns

Index(['Name', 'Cals', 'Protein', 'Fat', 'Sodium', 'Fiber', 'Carbs', 'Sugars',
       'K', 'Vitamins', 'Weight', 'Cups', 'Rating'],
      dtype='object')

#### Editing Multiple Columns as Once

In [14]:
cereal.columns = [col.upper() for col in cereal]

cereal.columns

Index(['NAME', 'CALS', 'PROTEIN', 'FAT', 'SODIUM', 'FIBER', 'CARBS', 'SUGARS',
       'K', 'VITAMINS', 'WEIGHT', 'CUPS', 'RATING'],
      dtype='object')

#### Append and Handling Duplicates

In [15]:
temp_df = cereal.append(cereal)

temp_df.shape

(154, 13)

In [16]:
temp2_df = temp_df.drop_duplicates()

temp2_df.shape

(77, 13)

#### Dealing with Null Values

##### You have two options: 
1. delete rows or columns with null entries
2. replace nulls with non-null values (imputation)  

##### First you want to check for nulls:

In [17]:
cereal.isnull().sum()

NAME        0
CALS        0
PROTEIN     0
FAT         0
SODIUM      0
FIBER       0
CARBS       0
SUGARS      0
K           0
VITAMINS    0
WEIGHT      0
CUPS        0
RATING      6
dtype: int64

##### There are 6 missing values in the Ratings column!

###### Removing null data is only suggested if a small portion of the data is null. Since there are only 77 rows, we probably want to keep that data.
###### However, to remove the rows with nulls, use this command:

In [18]:
cereal_remove_rows = cereal.dropna()
    
cereal_remove_rows.isnull().sum()

NAME        0
CALS        0
PROTEIN     0
FAT         0
SODIUM      0
FIBER       0
CARBS       0
SUGARS      0
K           0
VITAMINS    0
WEIGHT      0
CUPS        0
RATING      0
dtype: int64

###### To remove the columns with nulls, use this command:

In [19]:
cereal_remove_cols = cereal.dropna(axis=1)

cereal_remove_cols.isnull().sum()

NAME        0
CALS        0
PROTEIN     0
FAT         0
SODIUM      0
FIBER       0
CARBS       0
SUGARS      0
K           0
VITAMINS    0
WEIGHT      0
CUPS        0
dtype: int64

##### We can impute nulls with another value, usually the mean or the median of that column.
###### First, we need to get the median or mean of the column with the null value(s)
###### This begins with taking the column as a Series

In [20]:
ratings = cereal['RATING']
ratings.head()

0    68.402973
1    33.983679
2    59.425505
3    93.704912
4    34.384843
Name: RATING, dtype: float64

In [21]:
ratings_mean = ratings.mean()
ratings_mean

43.124629

##### We can see the nulls in the cereal column below for reference

In [22]:
cereal.isnull().sum()

NAME        0
CALS        0
PROTEIN     0
FAT         0
SODIUM      0
FIBER       0
CARBS       0
SUGARS      0
K           0
VITAMINS    0
WEIGHT      0
CUPS        0
RATING      6
dtype: int64

###### By using inplace=True, the fill occurs in the original cereal dataframe.

In [23]:
ratings.fillna(ratings_mean, inplace=True)

cereal.isnull().sum()

NAME        0
CALS        0
PROTEIN     0
FAT         0
SODIUM      0
FIBER       0
CARBS       0
SUGARS      0
K           0
VITAMINS    0
WEIGHT      0
CUPS        0
RATING      0
dtype: int64

#### Understanding Your Variables
##### This is an important step before finding insights and creating visualizations

In [25]:
names = cereal['NAME']
names.describe()

count                                    77
unique                                   77
top       Muesli Raisins; Peaches; & Pecans
freq                                      1
Name: NAME, dtype: object

In [26]:
names.value_counts()

Muesli Raisins; Peaches; & Pecans    1
Bran Chex                            1
Mueslix Crispy Blend                 1
Muesli Raisins; Dates; & Almonds     1
Cheerios                             1
                                    ..
Raisin Bran                          1
Great Grains Pecan                   1
Puffed Wheat                         1
Post Nat. Raisin Bran                1
Multi-Grain Cheerios                 1
Name: NAME, Length: 77, dtype: int64

#### Finding Correlations in Your Data

###### We can recall from statistics that correlations range [-1, 1]

###### -1 means strong negative, 0 means no correlation, and 1 means strong positive

In [ ]:
cereal.corr()